@model MyModel.EF.Content

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>
                    @Html.DisplayFor(model => model.Name)
                </h3>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div>
                    @Html.DisplayFor(model => model.Description)
                </div>
                <div>
                    @Html.Raw(Model.Detail)
                </div>
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.CreatedDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CreatedDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CreatedBy)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CreatedBy)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ModifiedDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ModifiedDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ModifiedBy)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ModifiedBy)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.MetaKeywords)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.MetaKeywords)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.MetaDescription)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.MetaDescription)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Status)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Status)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.TopHot)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TopHot)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ViewCount)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ViewCount)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Tagstring)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Tagstring)
                        </dd>

                    </dl>
                </div>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>
            </div>
        </div>
    </div>
</div>


