@model IEnumerable<MyModel.EF.MenuType>

@{
    ViewBag.Title = "Quản lý MenuType";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p>
                    @Html.ActionLink("Thêm mới kiểu menu", "Create")
                </p>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="userindex" class="table table-bordered table-hover table-striped text-center">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="Row_@item.ID">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                        @Ajax.ActionLink("Xóa", "Delete", new { @id = item.ID }, new AjaxOptions
                                   {
                                       Confirm = "Bạn có chắc chắn xóa?",
                                       OnComplete = "$('#Row_" + item.ID + "').remove()",
                                       HttpMethod = "Delete"
                                   })
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

