
@{
    ViewBag.Title = "Index";
    Layout = "/Views/Shared/_Layout.cshtml";
    var slides = (List<MyModel.EF.Slide>)ViewBag.Slides;
    var listNewProducts = (List<MyModel.EF.Product>)ViewBag.ListNewProducts;
    var listTopHotProducts = (List<MyModel.EF.Product>)ViewBag.ListTopHotProducts;
}
@section slide {
    <div class="col-sm-3 no-padding">
        @{ Html.RenderAction("ProductCategory", "Product");}
    </div>
    <div class="col-sm-9" style="padding-right:0px">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                @for (int i = 0; i < slides.Count; i++)
                    {
                        if (i == 0)
                        {
                <li data-target="#myCarousel" data-slide-to="@i" class="active"></li>
                        }
                        else
                        {
                <li data-target="#myCarousel" data-slide-to="@i"></li>
                        }
                    }
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                @for (int i = 0; i < slides.Count; i++)
                    {
                        if (i == 0)
                        {
                <div class="item active">
                    <img src="@slides[i].Image" alt="Slide-@slides[i].ID">
                </div>
                        }
                        else
                        {
                <div class="item">
                    <img src="@slides[i].Image" alt="Slide-@slides[i].ID">
                </div>
                        }
                    }
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
}
<!--List new products-->
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="col-xs-6">
            <h4 class="panel-title">SẢN PHẨM MỚI</h4>
        </div>
        <div class="col-xs-6">
            <a class="pull-right" href="/san-pham">Xem tất cả <span class="caret"></span></a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <div class="row">
            @foreach (var item in listNewProducts)
            {
                <div class="col-xs-6 col-sm-3">
                    <div class="thumbnail product-thumbnail">
                        <div>
                            <a href="/san-pham/@item.ProductCategory.MetaTitle/@item.MetaTitle-@item.ID"><img class="img-responsive" src="@item.Image" alt="@item.Name" /></a>
                        </div>
                        <div class="product-name">
                            <p class="text-center">@item.Name </p>
                        </div>

                        <div class="product-price">
                            <div class="price col-xs-7 no-padding">
                                <p class="text-center"><strong><span>@(item.Price.HasValue ? string.Format("{0:0,0 VNĐ}", item.Price.Value) : "liên hệ")</span></strong></p>
                            </div>
                            <div class="cart col-xs-5 no-padding">
                                <h5 class="text-center"><a href="/san-pham/@item.ProductCategory.MetaTitle/@item.MetaTitle-@item.ID">Thêm vào giỏ</a></h5>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="panel panel-default">
    <!--List top hot products-->
    <div class="panel-heading">
        <div class="col-xs-6">
            <h4 class="panel-title">SẢN PHẨM HOT</h4>
        </div>
        <div class="col-xs-6">
            <a class="pull-right" href="/san-pham">Xem tất cả <span class="caret"></span></a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <div class="row">
            @foreach (var item in listTopHotProducts)
            {
                <div class="col-xs-6 col-sm-3">
                    <div class="thumbnail product-thumbnail">
                        <div>
                            <a href="/san-pham/@item.ProductCategory.MetaTitle/@item.MetaTitle-@item.ID"><img class="img-responsive" src="@item.Image" alt="@item.Name" /></a>
                        </div>
                        <div class="product-name">
                            <p class="text-center">@item.Name </p>
                        </div>

                        <div class="product-price">
                            <div class="price col-xs-7 no-padding">
                                <p class="text-center"><strong><span>@(item.Price.HasValue ? string.Format("{0:0,0 VNĐ}", item.Price.Value) : "liên hệ")</span></strong></p>
                            </div>
                            <div class="cart col-xs-5 no-padding">
                                <h5 class="text-center"><a href="/san-pham/@item.ProductCategory.MetaTitle/@item.MetaTitle-@item.ID">Thêm vào giỏ</a></h5>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
