@model IEnumerable<MyModel.EF.ProductCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p>
                    @Html.ActionLink("Thêm mới danh mục", "Create")
                </p>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="ProductCategoryTable" class="table table-bordered table-hover table-striped text-center">
                        <thead>
                            <tr  >
                                <th class="text-center">
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th class="text-center">
                                    @Html.DisplayNameFor(model => model.ParentID)
                                </th>
                                <th class="text-center">
                                    @Html.DisplayNameFor(model => model.DisplayOrder)
                                </th>
                                <th class="text-center">
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <th class="text-center">
                                    @Html.DisplayNameFor(model => model.ShowOnHome)
                                </th>
                                <th class="text-center">#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="Row_@item.ID">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ParentProductCat.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DisplayOrder)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ShowOnHome)
                                    </td>
                                    <td>
                                        <a href="/Admin/ProductCategories/Edit/@item.ID"><i title="Sửa" class="fa fa-edit"></i></a>
                                        <a href="/Admin/ProductCategories/Details/@item.ID"><i title="Chi tiết" class="fa fa-search-plus"></i></a>
                                        @Ajax.ActionLink(" ","Delete",new { @id = item.ID},new AjaxOptions
                                   {
                                       Confirm = "Bạn có chắc chắn xóa danh mục này?",
                                       OnComplete = "$('#Row_"+item.ID+"').remove()",
                                       HttpMethod = "Delete"
                                   }, new { @class = "fa fa-ban",@title = "Xóa" })
                                    </td>
                                </tr>
                            }
                        </tbody>                       
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

