@model IEnumerable<MyModel.EF.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{Danh Sách Sản phẩm}
@section jsFooter{    
<script src="~/Assets/Admin/Mine/js/Controller/ProductsController.js"></script>
    }
<div class="row">
    <script src="~/Assets/Admin/Mine/js/Controller/ProductsController.js"></script>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p>
                    @Html.ActionLink("Thêm mới sản phẩm", "Create")
                </p>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="ContentTable" class="table table-bordered table-hover table-striped text-center dt-head-right">
                        <thead class="dt-center">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Code)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CategoryID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Image)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Price)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PromotionPrice)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IncludeVAT)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Quantity)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Waranty)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TopHot)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ViewCount)
                                </th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody class="dt-center">
                            @foreach (var item in Model)
                            {
                                <tr id="Row_@item.ID">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Code)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProductCategory.Name)
                                    </td>
                                    <td>
                                        <img src="@Html.DisplayFor(modelItem => item.Image)" style="width:80px" />
                                        
                                    </td>
                                    <td>
                                        @(item.Price.HasValue? item.Price.Value.ToString("N0") : "Liên hệ")
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PromotionPrice)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IncludeVAT)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Waranty)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TopHot)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ViewCount)
                                    </td>
                                    <td>
                                        <a href="#" class="btn-images" data-id="@item.ID"><i title="Quản lý ảnh" class="fa fa-camera"></i></a>
                                        <a href="/Admin/Products/Edit/@item.ID"><i title="Sửa" class="fa fa-edit"></i></a>
                                        <a href="/Admin/Products/Details/@item.ID"><i title="Chi tiết" class="fa fa-search-plus"></i></a>
                                        @Ajax.ActionLink(" ", "Delete", new { @id = item.ID }, new AjaxOptions
                                   {
                                       Confirm = "Bạn có chắc chắn xóa sản phẩm này?",
                                       OnComplete = "$('#Row_" + item.ID + "').remove()",
                                       HttpMethod = "Delete"
                                   }, htmlAttributes: new { @class = "fa fa-ban", @title = "Xóa" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="ImageManager" class="modal fade" role="dialog">
    <div class="modal-dialog" style="display:table">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Quản lý ảnh</h4>
            </div>
            <div class="modal-body">
                <div id="ImageList">
                </div>
                <div style="clear:both"></div>
                
                <input type="hidden" id="hidProductID" value="0" />
            </div>
            <div class="modal-footer">
                <input type="button" id="btnChooseImage" class="btn btn-primary" value="Chọn ảnh" />
                <button type="button" class="btn btn-success" id="btnSaveImage">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
